<div class="container-fluid text-white h-100" id="homeContainer">
    <div class="container-md h-100 pt-5">
        <div class="row align-items-center text-center">
            <div class="col">
                <h2 class="pb-5">I look forward to speaking with you!</h2>
                <div class="row align-items-end">
                    <div class="col text-right">
                        <h2 class="">Phone</h2>
                        <h2 class="">Email</h2>
                    </div>
                    <div class="col text-left">
                        <h4 class="">+46 (0) 72 848 58 54</h4>
                        <h4 class="">abrahamhidy@outlook.com</h4>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>