@media (min-width: 600px){
    #homeContainer {
        background-image: url(../../../assets/images/backgroundTexture.jpg);
        background-size: cover;
        min-height: 1000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
    }   
}

@media (max-width: 599px){
    #homeContainer {
        background-image: url(../../../assets/images/backgroundTexture.jpg);
        background-size: cover;
        min-height: 1000px;
        background-repeat: no-repeat;
        //background-attachment: fixed;
        background-position: bottom center;
    }   
}

.contactInfo {
    max-width: max-content;
}

a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
a:active {
    color: white;
}