<div class="container-fluid text-white h-100" id="homeContainer">
    <div class="container-md h-100 pt-5">
        <div class="row align-items-center text-center">
            <div class="col">
                <h2>Competencies:</h2>
                <h4 class="pb-4">Angular - .NET Core 3.1 - Flutter</h4>
                <div class="row justify-content-center">
                    <div class="container rounded p-2 m-2" id="courseBlob">Clean, reusable code</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Methodical problem solving</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Elegant algorithms</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Git</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">3D Modelling (SolidWorks)</div>
                </div>
                <div class="row justify-content-center">
                    <div class="container rounded p-2 m-2" id="courseBlob">Teamwork</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Communication</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Attention to Detail</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Self Teaching</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Adaptability</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Time Management</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Logical Reasoning</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Interpersonal Communication</div>
                </div>
                <h2 class="py-4">Background</h2>
                <h4 class="pb-4">My education began in the US, where I studied in a Mechanical Engineering program. I gained much valuable knowledge in physics, calculus, and 3d-Design, but ultimately found that my interests lie elsewhere. I completed the first year of the Software Technology Program at Linnaeus University in Växjö, Sweden.</h4>
                <h4 class="pb-4">Now I live in Luleå, Sweden, and continue to grow and develop my abilities through work and on my own projects.</h4>
                <h2 class="py-4">Courses</h2>
                <div class="row justify-content-center">
                    <div class="container rounded p-2 m-2" id="courseBlob">Programming and Data Structures</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Problem Solving and Programming</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Software Technology</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Technical Information and Communication</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Project in Computer Science</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Discrete Mathematics</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Programming (C#)</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Calculus I, II</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Multivariable Calculus</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Physics I, II (w/calculus)</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Statics</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Chemistry</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Mechanical Engineering Materials</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Circuits, Devices, and Motors</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">3D CAD</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Production Processes</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Power Plants for Electrical Power Generation</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Electrical Engineering I</div>
                    <div class="container rounded p-2 m-2" id="courseBlob">Technical Drawing</div>
                </div>
            </div>
        </div>
    </div>
</div>