@media (min-height: 0px){
    #homeContainer {
        background-image: url(../../../assets/images/backgroundTextureCropped.jpg);
        background-size: 100%;
        min-height: 1000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }   
}