<div class="container-fluid text-white h-100" id="homeContainer">
    <div class="container-md h-100 pt-5">
        <div class="row pb-5 align-items-center">
            <div class="col-sm-4 text-md-left">
                    <img src="assets/images/profileImage.jpg" id="profileImg">
            </div>
            <div class="col-sm-8 pl-md-5">
              <h1 id="myName">Abraham Hidy</h1>
              <h4 class="pt-4">Passionate for developing software for a positive impact on the world.</h4>
              <h4 class="pt-2">Knowledge of Flutter and Java. Growing skills in Angular.</h4>
              <div class="button-grp-sm pt-3">
                <a target="_blank" href="https://github.com/AbrahamHidy" type="button" class="btn btn-outline-primary btn-sm btn-forNav white">GitHub</a>
                <a target="_blank" href="https://drive.google.com/file/d/1BbAVsRP29guxucElPD3fxvcL9B3yaD3d/view?usp=sharing" type="button" class="btn btn-outline-primary btn-sm btn-forNav ml-3 white">My Resume</a>
                <a target="_blank" href="http://www.linkedin.com/in/abraham-hidy-veksler" type="button" class="btn btn-outline-primary btn-sm btn-forNav ml-3 white">LinkedIn</a>
            </div>
            </div>
          </div>
          <div class="row pt-5 pb-4 justify-content-center">
            <h2>Projects</h2>
          </div>
          <div class="row justify-content-center">
            <app-flip-card imageName="cloud_calc.jpg" title="Cloud Calc" description="A calculator which can store calculation sessions on the cloud for future use." class="m-2"></app-flip-card>
            <app-flip-card imageName="flutter_portfolio.jpg" title="Flutter Portfolio" description="A portfolio website similar to this one, but build with Flutter."  class="m-2"></app-flip-card>
            <!-- <app-flip-card imageName="backgroundTextureCropped2.jpg" title="Together Apart" description="An app for suggesting a person to contact each day, to remind people to keep in touch in tough times."  class="m-2"></app-flip-card> -->
            <!-- <app-flip-card imageName="backgroundTextureCropped2.jpg" title="Well Met" description="App that allows sharing multiple, customizable contact date with a QR code."  class="m-2"></app-flip-card> -->
          </div>
    </div>
</div>