
@media (min-width: 600px){
    #homeContainer {
        background-image: url(../../../assets/images/backgroundTexture.jpg);
        background-size: cover;
        min-height: 1000px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
    }   
}

@media (max-width: 599px){
    #homeContainer {
        background-image: url(../../../assets/images/backgroundTexture.jpg);
        background-size: cover;
        min-height: 1000px;
        background-repeat: no-repeat;
        //background-attachment: fixed;
        background-position: bottom center;
    }   
}

#profileImg {
    border-radius: 50%;
    width: 100%;
}

#myName {
    color: rgb(98, 171, 255);
}

.white {
    color: white;
}